.imagem_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500;
}

main {
    background-color: rgb(48, 48, 48);
}

html,footer {
    background-color: rgb(48, 48, 48);
}

header {
    background-color: #7B0000;
    
    justify-content: center;
  
}


body {

    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
   

}

.container {
    max-width: 1000px;
    
    background: rgb(48, 48, 48);
    padding: 19px;
    border-radius: px;
    box-shadow:  rgba(255, 255, 255, 0.1);
    text-align: center;
}

h1 {
    color: #ffffff;
}

p {
    color: #fffdfd;
    line-height: 1.6;
}

.img-nav{
    padding-left: 200px;
}
footer{
    img: center;
}

.carousel-item img{
    width: 1900px;
    height: 700px;
}





/* Título e texto */
.card h2 {
    margin: 15px 0 10px;
    font-size: 1.5em;
    color: #333;
}

.card p {
    font-size: 1em;
    color: #666;
}

/*  */



.titulo-card {
    color: #7B0000;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25pt;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15pt;
}

.btn-position {
    position: relative;
    bottom: -60px;
}

.nav-item {
    position: relative;
    text-align: right;
}